<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637890643979-qtqirui3gb9njt31iu8s3aihd1r4dogc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637890643979-qtqirui3gb9njt31iu8s3aihd1r4dogc</string>
	<key>API_KEY</key>
	<string>AIzaSyBSujX3nRWXON6tWNEx-fj6lpKAmkb508g</string>
	<key>GCM_SENDER_ID</key>
	<string>637890643979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gsolMain</string>
	<key>PROJECT_ID</key>
	<string>gsol-b1a16</string>
	<key>STORAGE_BUCKET</key>
	<string>gsol-b1a16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637890643979:ios:e73b5003cb5f0b6cb59f0e</string>
</dict>
</plist>